/************************************************************************/
/* GENERAL                                                              */
/************************************************************************/
a {
    text-decoration: none;
}


/************************************************************************/
/* MENU                                                                 */
/************************************************************************/
.nav-item {
    color: #eee;
    margin-right: 15px;
}

.nav-item:hover {
    color: #fff;
    text-decoration: none;
}
